<!DOCTYPE html>
<html>
  <head>
    <title>Assign Graders to </title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1><%= @section.course.course_title%>: <%= @section.course.course_number%>: <%= @section.section_number%></h1>
    <h2><%= @possible_graders.length%></h2>
  </body>
