<!DOCTYPE html>
<html>
  <head>
    <title>User Approval Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="columns">
      <div class="column">
        <div class="is-size-1">Users to be Approved</div>
      </div>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>Click to Approve</th>
        </tr>
      </thead>
      <tbody>
        <% @unapproved_users.all.each do |user| %>
          <tr>
            <td><%= "#{user.first_name} #{user.last_name}" %></td>
            <td><%= user.email %></td>
            <td><%= user.user_type %></td>
            <td><%= link_to 'Approve', approve_button_click_user_approval_index_path(id: user.id), class: 'button is-success is-small', method: :put%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </body>
</html>
